{% extends 'service/base.html' %}
{% block content %}
<div class="text-center">
    <br>
    <h1> <b> About Us </b></h1>
    <p class="mx-2 my-2">
        We are a qualified & experienced team of dealers and technicians serving to the air conditioning needs of people in
        residing Andhra Pradesh and Telangana, with expertise in brands like Daikin, Mitsubishi, Hitachi among others.
    </p>
    <p class="mx-2 mt-5">
        For any questions, please contact us using the details provided below.
    </p>
</div>

{% endblock content %}
