{% extends 'service/base.html' %}
{% block content %}
<div class="text-center mx-2">
    <br>
    <h1> Thank you for registering a complaint with us, you should be receiving a acknowledgment SMS to your mobile number.</h1>

    <br><br>
    <p> Haven't received the SMS? </p>
    <br>
    <p>
        Please wait up to 10 minutes after you have registered the complaint, if you still haven't received the SMS
        please dial 7729988320 or try to register the complaint again.
    </p>
</div>

{% endblock content %}
